html, body {
    margin: 0;
}
body {
    
}
.container 
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}
*/
.search-form input{
   width: 35%;  
}

.title {
}

.suggestions {
    width: 100%;
    list-style-type: circle;

}

.suggestions li{
    
    width: 100%;
    margin-top: 20px;
    background-color: rgb(0, 255, 170);
    list-style-type: none;
    
}

#mapid {
    /*display: flex;
    flex-direction: row;*/
    height: 500px;
    width: 50%;
    border: 0;
}

@media only screen and (max-width: 500px) {
    
    .container {
        display:block;
    }
}