    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        font-family: ‘Segoe UI’, Candara, ‘Bitstream Vera Sans’, ‘DejaVu Sans’, ‘Bitsream Vera Sans’, ‘Trebuchet MS’, Verdana, ‘Verdana Ref’, sans-serif;

    }

    a {
        text-decoration: none;
    }
    
    .menu-container {
        color: #fff;
        background-color: #5995DA;  /* Blue */
        padding: 20px 0;
        display: flex;
        justify-content: center;
    }
    
    .menu {
        border: 1px solid #fff;  /* For debugging */
        width: 900px;
        display: flex;
        justify-content: space-between;
    }
    
    .title-container {
        display: flex;
        justify-content: center;
    }
    .title {
        background-color: #007e58;
        font-size: small;
        padding: 5px;
        width:100%;

    }

    .links {
        border: 1px solid;
        padding-left: 3%;
        display: flex;
        justify-content: flex-end;
    }

    .demo {
        margin-left: auto;
    }

    .mainpage {
        margin-left: 10px;
    }

    .header-container {
        color: #5995DA;
        background-color: #D6E9FE;
        display: flex;
        justify-content: center;
    }

    .header {
        width: 900px;
        height: 300px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .project, .github {
        align-self: flex-end;
        padding-bottom: 10px;
        color: #0000FF;
    }

    .demo a, .mainpage a {
        color: white;  
    }
    .photo-grid-container {
        display: flex;
        justify-content: center;

    }
    .photo-grid {
        width: 900px;
        display: flex;
        justify-content: center;    
        flex-wrap: wrap;
    }
    
    .photo-grid-item {
        border: 1px solid #fff;
        width: 300px;
        height: 300px;
    }
    .first-item {
        order: 3;
    }
    .second-item {
        order: 1
    }
    .third-item {
        order: 0;
    }
    .fourth-item {
        order: 4;
    }
    .last-item {
        order: 2
    }
    .footer {
        display: flex;
        justify-content: space-between;
    }
    
    .footer-item {
        border: 1px solid #fff;
        background-color: #D6E9FE;
        height: 200px;
        flex: 1;
    }
    .footer-two {
        flex: 5;
    }

    .footer-one, .footer-three {
    background-color: #5995DA;
    flex: initial;
    width: 300px;
    }


/* Mobile Styles */

@media only screen and (max-width: 960px) {
    .menu {
        width: 100%;
    }
    .title {
        background-color: #007e58;
        font-size: small;
        padding: 5px;
        width: 100%;
    }
    .links {
        width: 25%;
    }
    .demo, .mainpage {
        width: 50%;
    }

    .demo a, .mainpage a {
        font-size: 100%;
    }
    .header {
        
    }
    
    .photo-grid {
        width: 70%;
    }

    .photo-grid-item {
        width: 50%;
        height: auto;
        
    }
    img {
        width: 100%;
    }

    .footer-item {
        border: 1px solid #fff;
        background-color: #D6E9FE;
        height: 100px;
        flex: 1;
    }
    footer-two {
        flex: 5;
    }

    .footer-one, .footer-three {
    background-color: #5995DA;
    flex: initial;
    width: 40%;
    }

}