html {

}
body {
    background-color: coral;
    overflow: hidden;
}
/*.container 
{
    
}
*/
.search-form input{
   width: 35%;  
}

 .suggestions {
    width: 100%;
    list-style-type: circle;

}

.suggestions li{
    
    width: 30%;
    margin-top: 20px;
    
    
}